body{
  padding-top: 50px;
}

html, body { height: 100%; }

.index-container{min-width:1015px;position:relative;}
.mt-sidebar{}
.mt-sidebar .list-group a{border-radius:0;}
.mt-sidebar .btn-group .btn{cursor:pointer;display:block;height:40px;line-height:40px;margin:0;padding:0 10px;background:#fff;
    color:#000;border-radius:0;border:none;width:100%;box-shadow:none;text-align:left;}
.mt-sidebar .btn:hover{background:#eee;border-left:4px solid #d2554f;box-shadow:none;}
.mt-sidebar .btn.active{background:#eee;border-left:4px solid #d2554f;box-shadow:none;}
.mt-sidebar .btn-group{}
.mt-sidebar .stars{margin:0 auto;width:90px;}

.mt-sidebar .divider{height:1px;width:100%;background:#eee;margin-bottom:20px;}
.mt-sidebar h5{text-transform:uppercase;text-align:center;}

.mt-container{margin:0;padding:0;height:100%;}
.mt-container .row-fluid{height:100%;}
.mt-container .span7{margin-left:200px;height:100%;}

.mt-icon{height:24px;width:24px;background-position:left center;margin-right:5px;margin-top:7px;background-repeat:no-repeat;display:block;float:left;}
.park-icon{background-image:url('/static/img/park.png');}
.museum-icon{background-image:url('/static/img/museum.png');}
.museum-icon{background-image:url('/static/img/museum.png');}
.club-icon{background-image:url('/static/img/club.png');}
.shopping-icon{background-image:url('/static/img/shopping.png');}


#map-canvas{height:100%;width:100%;}

#bgImage{width:100%;position:absolute;top:0;left:0;min-width:1015px;}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
  color:#fff;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  margin:10px 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin select.form-control {
  height:40px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}