body{
  padding-top: 50px;
}

.mt-sidenav{background-color:#f7f5fa;padding:0 15px;}

.mt-container{margin:0 0;padding:0;}
.mt-container .span7{margin-left:200px;}

#map-canvas{height:300px;width:100%;}