{% extends "base/base.html" %}

{% block title %}Moscow Trip. Purchasing Complete{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div id="bgImage" >
        <img src="/static/img/russ.jpg" height="100%" width="100%">
    </div>
    <div class="container index-container">
        <div class="purchase_complete">
            <h1>Thank you for using our service!</h1>
            <h3>Your plan has been sent on email.</h3>
            <a type="button" class="btn btn-danger btn-lg" href="/">Go to main page</a>
        </div>
    </div>
{% endblock %}