{% extends "base/base.html" %}

{% block title %}Index{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <div id="bgImage" >
        <img src="/static/img/russ.jpg" height="100%" width="100%">
    </div>
    <div class="container index-container">
          <form class="form-signin">
            <h2 class="form-signin-heading">Join to Moscow Trip</h2>
            {{ form.date_from }}
            {{ form.date_to }}
            {{ form.country }}
            <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
          </form>
    </div>
{% endblock %}