{% extends "base/base.html" %}

{% block title %}User dashboard{% endblock %}

{% block content %}
 <div class="container-fluid mt-container">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" style="position:fixed;left:0;width:200px;">
            <div class="mt-sidebar" role="complementary">
                <h5>Categories</h5>
                  <ul class="nav nav-list">
                     <li><label class="tree-toggle nav-header"><span class="mt-icon park-icon"></span>Parks</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">JavaScript</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li><label class="tree-toggle nav-header"><span class="mt-icon museum-icon"></span>Museums</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                     <li><label class="tree-toggle nav-header"><span class="mt-icon club-icon"></span>Night clubs</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                        <li><label class="tree-toggle nav-header"><span class="mt-icon shopping-icon"></span>Shopping</label>
                        <ul class="nav nav-list tree">
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                </ul>
                  </div>
            </div>
            <div class="span7">
                    <ul class="nav nav-tabs" id="timelineTabs">
                      <li class="active"><a href="#tab1" data-toggle="tab">Monday 12.12.2013</a></li>
                      <li><a href="#tab2" data-toggle="tab">Tuesday 13.12.2013</a></li>
                      <li><a href="#tab3" data-toggle="tab">Wednesday 14.12.2013</a></li>
                    </ul>
                  <div class="tab-content">
                      <div class="tab-pane active" id="tab1">
                           <div id="map-canvas" style="height: 600px;"></div>
                      </div>
                      <div class="tab-pane" id="tab2"></div>
                      <div class="tab-pane" id="tab3"></div>
                  </div>
            </div>
          </div>
        </div>
    </div>
{# </div>#}
{% endblock %}