{% extends "base/base.html" %}


{% block css %}
     {{ block.super }}
    <link rel="stylesheet" href="{{ STATIC_URL }}js/jq-rating/jquery.rating.css" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block js %}
    {{ block.super }}
     <script src="{{ STATIC_URL }}js/jq-rating/jquery.form.js"></script>
     <script src="{{ STATIC_URL }}js/jq-rating/jquery.MetaData.js"></script>
     <script src="{{ STATIC_URL }}js/jq-rating/jquery.rating.js"></script>
{% endblock %}
{% block title %}User dashboard{% endblock %}

{% block content %}
 <div class="container-fluid mt-container">

        <div class="row-fluid">
            <div class="span3" style="position:fixed;left:0;width:200px;height:100%;">
            <div class="fluid-sidebar-wrapper">
            <div class="mt-sidebar" role="complementary">
                    <h5>Dates</h5>
                    <div class="btn-group" data-toggle="buttons" id="dates">
                      {% for d in dashboard.dates %}
                          <label class="btn btn-primary {% if forloop.first %}active{% endif %}">
                            <input class="date-radiobutton" type="radio" {% if forloop.first %}checked="checked"{% endif %} id="{{ d|date:"m-d-Y" }}">{{ d|date:"l (m.d.Y)" }}
                          </label>
                      {% endfor %}
                    </div>
                    <div class="divider"></div>
                    <h5>Activities</h5>
                    <div class="btn-group" data-toggle="buttons" id="categories">
                      <label class="btn btn-primary active" data-name="park">
                        <input type="checkbox" value="parks"> <span class="mt-icon park-icon"></span>Parks
                      </label>
                      <label class="btn btn-primary active" data-name="museum">
                        <input type="checkbox" value="museums"> <span class="mt-icon museum-icon"></span>Museums
                      </label>
                      <label class="btn btn-primary" data-name="night">
                        <input type="checkbox" value="clubs"> <span class="mt-icon club-icon"></span>Night clubs
                      </label>
                      <label class="btn btn-primary" data-name="shops">
                        <input type="checkbox" value="shopping"> <span class="mt-icon shopping-icon"></span>Shopping
                      </label>
                    </div>
                    <div class="divider"></div>
                    <h5>Congestion</h5>
                    <div class="stars">
                        <input name="cong" type="radio" class="mt-star" value="1"/>
                        <input name="cong" type="radio" class="mt-star" value="2"/>
                        <input name="cong" type="radio" class="mt-star" value="3"/>
                    </div>
                  </div>
            </div>
            </div>
            <div class="span7">
                <div id="map-canvas"></div>
            </div>
        <div id="sidebar"></div>
        <script id="sidebar-template" type="text/template">
            <div class="span3" id="fluidSidebar">
                  <div class="fluid-sidebar-wrapper">
                <div class="fluid-sidebar-content">
                    <div class="btn-group" style="width:100%;">
                          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span>clear</button>
                          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-send"></span>&nbsp;send on email</button>
                          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-print"></span>&nbsp;print</button>
                    </div>

                        <h3 style="<% if( count ){ %>display:none;<% } %>" id="empty-message"><span class="label label-default">Your plan is empty</span></h3>

                        <ul class="nav nav-pills nav-stacked" id="list-container" style="<% if( !count ){ %>display:none;<% } %>">
                          {% for d in dashboard.dates %}
                              <li class="active">
                                <a>
                                  <span class="badge pull-right">0</span>
                                  {{ d|date:"l (m.d.Y)" }}
                                </a>
                                <div class="events-list" id="{{ d|date:"m-d-Y" }}">

                                </div>
                              </li>
                          {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
          </div>
        </script>
    </div>
 <script type="text/template" id="list-item">
    <div class="event-item" id="<%=count %>">
    <a class="remove-button" href="#"><i class="glyphicon glyphicon-remove-circle" style="color:#d2554f"></i></a>
    <span class="text-<% if(hot == 1){ %>success<% }; if(hot == 2){ %>warning<% }; if(hot==3){ %>danger<% } %>"><%=name %></span>
</div>

 </script>
{% endblock %}