{% extends "base/base.html" %}


{% block css %}
     {{ block.super }}
     <link rel="stylesheet" href="{{ STATIC_URL }}js/jq-rating/jquery.rating.css">
{% endblock %}

{% block js %}
    {{ block.super }}
     <script src="{{ STATIC_URL }}js/jq-rating/jquery.form.js"></script>
     <script src="{{ STATIC_URL }}js/jq-rating/jquery.MetaData.js"></script>
     <script src="{{ STATIC_URL }}js/jq-rating/jquery.rating.js"></script>
{% endblock %}
{% block title %}User dashboard{% endblock %}

{% block content %}
 <div class="container-fluid mt-container">

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span3" style="position:fixed;left:0;width:200px;">
            <div class="mt-sidebar" role="complementary">
                    <h5>Dates</h5>
                    <div class="btn-group" data-toggle="buttons">
                      {% for d in dashboard.dates %}
                          <label class="btn btn-primary {% if forloop.first %}active{% endif %}">
                            <input type="radio" {% if forloop.first %}checked="checked"{% endif %} value="{{ d }}">{{ d|date:"l (m.d.Y)" }}
                          </label>
                      {% endfor %}
                    </div>
                    <div class="divider"></div>
                    <h5>Categories</h5>
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-primary">
                        <input type="checkbox" value="parks"> <span class="mt-icon park-icon"></span>Parks
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" value="museums"> <span class="mt-icon museum-icon"></span>Museums
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" value="clubs"> <span class="mt-icon club-icon"></span>Night clubs
                      </label>
                      <label class="btn btn-primary">
                        <input type="checkbox" value="shopping"> <span class="mt-icon shopping-icon"></span>Shopping
                      </label>
                    </div>
                    <div class="divider"></div>
                    <h5>Congestion</h5>
                    <div class="stars">
                        <input name="cong" type="radio" class="mt-star" value="1"/>
                        <input name="cong" type="radio" class="mt-star" value="2"/>
                        <input name="cong" type="radio" class="mt-star" value="3"/>
                    </div>
                  </div>
            </div>
            <div class="span7">
              <div class="tab-content">
                  <div class="tab-pane active" id="tab1">
                       <div id="map-canvas" style="height: 600px;"></div>
                  </div>
                  <div class="tab-pane" id="tab2"></div>
                  <div class="tab-pane" id="tab3"></div>
              </div>
            </div>
          </div>
        </div>
    </div>
{% endblock %}